{% extends "./base.html" %} {% load crispy_forms_tags %}

{% block title %} Gestión de Clientes {% endblock %}

{% block body %}
<div class="container">
    <div class="col-lg-4 col-xl-4 offset-lg-4 col-md-6 offset-md-3 col-sm-12 pb-10">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        
        <div class="accordion mb-4 " id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header text-center" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <h2 >Nuevo Servicio  </h2>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" >
                <div class="accordion-body">
                    <h2></h2>
                    <div class="card">
                        <div class="card-body">
                            <form action="{% url 'core:services' %}" method="POST">{% csrf_token %}
                                {{ form|crispy }}
                                <div class="form-group p-4">
                                    <button type="submit" class="btn btn-success btn-block text-white f-right">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            
        </div>
        <h1>Tabla de Servicios</h1>
    </div>
    <div class="row pt-5">
        
        {% regroup object_list by get_section_display as country_list %}


    {% for country in country_list %}
    <div class='col-xl-4 col-lg-4 col-md-6 col-sm-12'>
        <h2 class='text-center'>{{ country.grouper }}</h1> 
        <div class="table-responsive py-2">
            <table class="table "">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Price</th>
                        
                        <th class='f-right'colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
            {% for c in country.list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'core:detail_service' c.id %}" class="btn btn-info">{{c.name}}</a></td>
                <td>{{c.price}}</td>
            
                <td class='f-right'><a href="{% url 'core:del_serv' c.id %}" class="btn btn-danger btnEliminacion">X</a></td>
                
            </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    </div>      
</div>
{% endblock %}