{% extends "./base.html" %} {% load crispy_forms_tags %}



{% block title %} Gestión de Servicios {% endblock title %}

{% block body %}
<section class="mb-4 ">
<div class="col-lg-4 col-xl-4 offset-lg-4 col-md-6 offset-md-3 col-sm-12 pb-10">

    <div class="card">
        <div class='card-header text-center'><h2>Servicios</h2></div>
        <div class="card-body">
            <form action="{% url 'core:services' %}" method="POST">{% csrf_token %}
                        {{ form|crispy }}
                <div class="form-group pt-2">
                <button type="submit" class="btn btn-success btn-block text-white " >Crear</button>
                </div>
            </form>
        </div>
    </div>
       
</div>
</section>
<section class="mb-4 ">
    <div class="row">
{% regroup object_list by get_section_display as country_list %}
{% for country in country_list %}

    <div class="col-xl-6">
    <div class="card ">
      <div class="card-header text-center py-3">
        <h5 class="mb-0 text-center">
          <strong>{{ country.grouper }}</strong>
        </h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                
                <th scope="row">Servicio</th>
                <th scope="row">Precio</th>
                <th scope="row" class='f-right'colspan="2">Opciones</th>
              </tr>
            </thead>
            <tbody>
                {% for c in country.list %}
                <tr> 
                    
                    <td><a href="{{ c.get_absolute_url }}" class="btn btn-info">{{c.name}}</a></td>
                    <td>{{c.price}}</td>
                    
                    <td><a href="{{c.get_add_to_cart_url}}" class="btn btn-success btnEliminacion">+</a>
                            <a href="{% url 'core:del-serv' c.pk %}" class="btn btn-danger btnEliminacion">X</a></td>
                   
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div> 
{% endfor %}
</div>
</section>








{% endblock body %}


