<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h1>Listado de Pedidos</h1>
    <div class="table-responsive py-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Servicio</th>
            <th>Cantidad</th>
            <th>Plazo de entrega</th>
            <th>Entregado</th>
            <th>Pagado</th>
            <th>Total</th>
            <th colspan="2">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for c in object_list %}
          <tr>
            <td>{{c.client}}</td>
            <td>{{c.service}}</td>
            <td>{{c.quantity}}</td>
            <td>{{c.order_date}}</td>
            <td>{{c.ordered}}</td>
            <td>{{c.paid}}</td>

            <td>{{c.get_total_price}}</td>
            <td>
              <a href="editarPedido/{{c.pk}}" class="btn btn-info">x</a>
            </td>
            <td>
              <a
                href="eliminarPedido/{{c.pk}}"
                class="btn btn-danger btnEliminacion"
                >x</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>