{% extends './base.html' %} {% load humanize %} {% block body %}

  

<div class="container">
  <div class="col-lg-4 col-xl-4 offset-lg-4 col-md-6 offset-md-3 col-sm-12 pb-10">
    
    
    <div class="accordion mb-4 " id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <h2>Nuevo Pedido  </h2>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" >
            <div class="accordion-body">
              {% block formulario %}{% endblock formulario %} 
                </div>
            </div>
          </div>
        
        
       
    


    <h1>Listado de Pedidos</h1>
    <form class="d-flex  pt-4 pb-4">
        <input class="form-control me-2" type="search" placeholder="Buscar por nombre" name='search_area' aria-label="Search">
        <button class="btn btn-outline-success" value='Search' type="submit">Buscar</button>
      </form>
</div>
  
</div> 
  <div class='container'>
  <div class="row">
    
   
    {% for c in object_list %}
    <div class="col-md-4 col-xl-3 col-sm-6 ">
      <div class="card  {% if c.paid  %} bg-success {% else %} bg-info {% endif %} order-card">
          <div class="card-block">
              <h6 class="m-b-20">Pedido de {{c.client}} {% if not c.paid  %} <a href="{% url 'core:ispaid' c.id %}"> <i class="fa fa-refresh f-right"></i> </a>{% endif %}</h6>
              <h2 class="text-right"><a href="{{c.get_absolute_url}}">
                  <i class="fa fa-cart-plus f-left"></i></a><span> &nbsp {{c.get_total_price|intword}} </span></h2>
              <p class="m-b-0">{{c.service.name}} x {{ c.quantity }}<span class="f-right">{{c.start_date|naturaltime}}</span></p>
          </div>
      </div>
  </div>
  
    {% endfor %}
  
    </div>
  </div>
</div>
  {% endblock %}

